@model WebApp.Areas.UserPanel.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست مکانها
            </div>
            <div class="card-body">
                <ul id="category" class="demo1">
                    @foreach (var item in Model.location)
                    {
                        <li>
                            <input type="checkbox" name="CategoryID" value="@item.LocationID" /> @item.LocationName
                            @await Html.PartialAsync("_LocationPartial", item.SubLocations)

                        </li>
                    }

                </ul>

            </div>
        </div>
    </div>

</div>
