@model Entities.HelpDesk.RequestWard

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Edit</h1>

<h4>RequestWard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestWardID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestStatusType" class="control-label"></label>
                <select asp-for="RequestStatusType" class="form-control"></select>
                <span asp-validation-for="RequestStatusType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestPriorityType" class="control-label"></label>
                <select asp-for="RequestPriorityType" class="form-control"></select>
                <span asp-validation-for="RequestPriorityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemanderWardID" class="control-label"></label>
                <select asp-for="DemanderWardID" class="form-control" asp-items="ViewBag.DemanderWardID"></select>
                <span asp-validation-for="DemanderWardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecepterWardID" class="control-label"></label>
                <select asp-for="RecepterWardID" class="form-control" asp-items="ViewBag.RecepterWardID"></select>
                <span asp-validation-for="RecepterWardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentRequestWardID" class="control-label"></label>
                <select asp-for="ParentRequestWardID" class="form-control" asp-items="ViewBag.ParentRequestWardID"></select>
                <span asp-validation-for="ParentRequestWardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRefered" class="control-label"></label>
                <select asp-for="IsRefered" class="form-control"></select>
                <span asp-validation-for="IsRefered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
