@model ViewModels.HomeViewModels.HomePageIndexViewModels


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">پذیرش بیمار</h1>
    <a asp-action="Index" asp-controller="Patients" asp-area="UserPanel"> ایجاد بیمار</a>
    <a asp-action="Index" asp-controller="Admissions" asp-area="UserPanel"> پذیرش بیمار</a>
</div>

<div style="margin-top:15px;">
    <!-- start Local Applications-->
    @await Html.PartialAsync("_LocalApplicationsPartial", Model.LocalApps)
    <!-- End Local Applications -->

</div>


<div>
    <h1> @ViewBag.IP</h1>
    <h1> @ViewBag.LIP</h1>

</div>


