@page
@model WebApp.Areas.MasterAdmin.Pages.Doctor.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Create</h1>

<h4>Doctors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorModels.PractitionerSpeciality" class="control-label"></label>
                <select asp-for="DoctorModels.PractitionerSpeciality" asp-items="Html.GetEnumSelectList<Entities.HISEntities.PractitionerEntity.PractitionerSpeciality>().ToList()" class="form-control"></select>
                <span asp-validation-for="DoctorModels.PractitionerSpeciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.PractitionerJobCategory" class="control-label"></label>
                <select asp-for="DoctorModels.PractitionerJobCategory" asp-items="Html.GetEnumSelectList<Entities.HISEntities.PractitionerEntity.PractitionerJobCategory>().ToList()" class="form-control"></select>
                <span asp-validation-for="DoctorModels.PractitionerJobCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.FirstName" class="control-label"></label>
                <input asp-for="DoctorModels.FirstName" class="form-control" />
                <span asp-validation-for="DoctorModels.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.LastName" class="control-label"></label>
                <input asp-for="DoctorModels.LastName" class="form-control" />
                <span asp-validation-for="DoctorModels.LastName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DoctorModels.IsActive" /> @Html.DisplayNameFor(model => model.DoctorModels.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.Gender" class="control-label"></label>
                <select asp-for="DoctorModels.Gender" asp-items="Html.GetEnumSelectList<Entities.Person.GenderType>().ToList()" class="form-control"></select>
                <span asp-validation-for="DoctorModels.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.RegisterationNo" class="control-label"></label>
                <input asp-for="DoctorModels.RegisterationNo" class="form-control" />
                <span asp-validation-for="DoctorModels.RegisterationNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.NationalCode" class="control-label"></label>
                <input asp-for="DoctorModels.NationalCode" class="form-control" />
                <span asp-validation-for="DoctorModels.NationalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.FatherName" class="control-label"></label>
                <input asp-for="DoctorModels.FatherName" class="form-control" />
                <span asp-validation-for="DoctorModels.FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.BirthPlace" class="control-label"></label>
                <input asp-for="DoctorModels.BirthPlace" class="form-control" />
                <span asp-validation-for="DoctorModels.BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.Address" class="control-label"></label>
                <input asp-for="DoctorModels.Address" class="form-control" />
                <span asp-validation-for="DoctorModels.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.HomeTel" class="control-label"></label>
                <input asp-for="DoctorModels.HomeTel" class="form-control" />
                <span asp-validation-for="DoctorModels.HomeTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.TelNo1" class="control-label"></label>
                <input asp-for="DoctorModels.TelNo1" class="form-control" />
                <span asp-validation-for="DoctorModels.TelNo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorModels.Mobile" class="control-label"></label>
                <input asp-for="DoctorModels.Mobile" class="form-control" />
                <span asp-validation-for="DoctorModels.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
