
.loading {
    -webkit-filter: hue-rotate(10deg);
    position: relative;
}

.text,
.border2 {
    z-index: 5;
    border-radius: 10px;
    display: block;
    position: absolute;
    display: block;
    height: 250px;
    line-height: 46px;
}

.text {
    top: 7px;
}

.border2 {
    border: 2px dashed black;
    clip: rect(0,0,0,0);
    animation: maskBorder 1.4s infinite;
}




@keyframes maskBorder {

    0% {
        clip: rect(0,50px,10px,0);
    }

    20% {
        clip: rect(0,200px,10px,0);
    }

    35% {
        clip: rect(0,200px,10px,190px);
    }

    50% {
        clip: rect(10px,200px, 50px, 190px);
    }

    60% {
        clip: rect(40px,200px, 50px, 190px);
    }

    70% {
        clip: rect(40px,200px, 50px, 0px);
    }

    85% {
        clip: rect(40px,10px, 50px, 0px);
    }

    90% {
        clip: rect(0,10px, 50px, 0px);
    }

    100% {
        clip: rect(0,10px, 10px, 0px);
    }
}



