@using Common
@addTagHelper*,Portal

<li class="nav-item nav-dropdown">
    <a href="#" class="nav-link nav-dropdown-toggle">
        <i class="icon icon-target"></i> مدیریت صفحه اصلی <i class="fa fa-caret-left"></i>
    </a>
    <ul class="nav-dropdown-items">
        <ul>
            <li class="nav-item">
                <security-trimming asp-action="Create" asp-controller="LocalApplications" asp-area="MasterAdmin">
                    <a class="nav-link" asp-action="Index" asp-controller="LocalApplications" asp-area="MasterAdmin">
                        <i class="ni ni-settings-gear-65 text-suceess"></i> ایجاد لینک سامانه ها
                    </a>
                </security-trimming>
            </li>
       


            @*<li class="nav-item">
            <a class="nav-link" asp-action="Profile" asp-controller="Manage" asp-route-userId="@User.Identity.GetUserId()">
                <i class="ni ni-circle-08 text-pink"></i> نمایه من
            </a>
        </li>*@

        </ul>
    </ul>
</li>

<li class="nav-item nav-dropdown">
    <a href="#" class="nav-link nav-dropdown-toggle">
        <i class="icon icon-target"></i> مدیریت سیستم <i class="fa fa-caret-left"></i>
    </a>
    <ul class="nav-dropdown-items">
        <ul>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-target"></i> مدیریت پزشکان <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <ul>
                        <li class="nav-item">
                            <security-trimming asp-action="Index" asp-controller="Patients" asp-area="UserPanel">
                                <a class="nav-link" asp-action="Index" asp-controller="Users" asp-area="UserPanel">
                                    <i class="ni ni-settings-gear-65 text-suceess"></i> پزشک همکار
                                </a>
                            </security-trimming>
                        </li>
                        <li class="nav-item">
                            <security-trimming asp-action="Create" asp-controller="Patients" asp-area="Admin">
                                <a class="nav-link" asp-action="Index" asp-controller="Doctors" asp-area="UserPanel">
                                    <i class="ni ni-settings-gear-65 text-suceess"></i> پزشک غیر همکار
                                </a>
                            </security-trimming>
                        </li>
                    </ul>
                </ul>
            </li>
        </ul>
    </ul>

    <ul class="nav-dropdown-items">
        <ul>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-target"></i> مدیریت مکان <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <ul>
                        <li class="nav-item">
                            <security-trimming asp-action="Index" asp-controller="Locations" asp-area="UserPanel">
                                <a class="nav-link" asp-action="Index" asp-controller="Locations" asp-area="UserPanel">
                                    <i class="ni ni-settings-gear-65 text-suceess"></i> تعریف مکان
                                </a>
                            </security-trimming>
                        </li>
                    </ul>
                </ul>
            </li>
        </ul>
    </ul>
</li>


